body {
    font-family: sans-serif;
    background-color: green;
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: greenyellow;
    border-radius: 150px;
}
header{
    background-color: greenyellow;
 
}
